<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoTrack Live</title>
</head>
<body>
    <h1>GeoTrack Live</h1>
    
    <div class="container">
        <div class="data-row">
            <span class="label">Latitud:</span>
            <span class="value" id="latitude">Esperando GPS...</span>
        </div>
        
        <div class="data-row">
            <span class="label">Longitud:</span>
            <span class="value" id="longitude">Esperando GPS...</span>
        </div>
                
        <div class="data-row">
            <span class="label">Fecha y Hora:</span>
            <span class="value" id="datetime">Esperando GPS...</span>
        </div>
    </div>

    <script>
        function updateData(){
            fetch('/api/location')
                .then(responde => responde.json())
                .then(data => {
                    document.getElementById('latitude').textContent = data.latitude;
                    document.getElementById('longitude').textContent = data.longitude;
                    document.getElementById('datetime').textContent = data.datetime || 'Esperando GPS...';
                })
                .catch(error => console.error('Error:', error));
        }

        //Update every 1 second
        setInterval(updateData, 1000);

        //Initial load
        updateData();

    </script>

</body>
</html>